<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Thomas Trasmontero - Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Cantata+One|Fjalla+One|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="TTPortfolioApp">
    <navbar></navbar>
    <div id="main" ui-view></div>


<footer class="navbar">
  <div class="container-fluid">
      <div class="row">

        <div class="col-xs-3 col-sm-2">
            <span>TT &copy; 2017</span>
        </div>
        <div class="col-xs-6 col-sm-8 footerContainer">
            <a href="https://github.com/tomtrasmontero" target="_blank"><i id="git" class="fa fa-github-square social" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/thomas-trasmontero/" target="_blank"><i id="linkedin" class="fa fa-linkedin-square social" aria-hidden="true"></i></a>
            <a href="mailto:tomtrasmontero@gmail.com"><i id="google" class="fa fa-envelope social" aria-hidden="true"></i></a>
        </div>
        <div class="col-xs-3 col-sm-2"></div>
      </div>
  </div>
</footer>

    <!-- bootstrap plugins -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

     <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
