<div class="container-fluid">
  <div class="row">
	<div class="col-xs-12">
	  <div class="contactSummary">
	  	&nbsp
	  	<h2 class="contactHeader">Contact</h2>
	  </div>
	</div>
  </div>
</div>

<div class="container-fluid contactDetails">
  <div class="row">
	<div class="col-xs-12 col-sm-6">
	  <div class="contactInfo">
	  	<label><i id="contactHome" class="fa fa-home" aria-hidden="true"></i><span>Downtown Jersey City, NJ 07302</span></label>
      <br />
	  	<label><i id="contactHome" class="fa fa-envelope" aria-hidden="true"></i><span>tomtrasmontero@gmail.com</span></label>
	  </div>
	</div>

	<div class="col-xs-12 col-sm-6">
	  <div class="row contactForm">
	    <div class="col-xs-12">

		  	<ng-form name="contactForm" novalidate>
		  	  <div class='form-group'>

				<div class='col-xs-12 formStyle'>
				<label>Name:</label>
				<input type='text' class='form-control' name='contactName' ng-model='contact.name' placeholder="Your name" onclick="select()" required>
				</div>

				<div class='col-xs-12 formStyle'>
				<label>Email:</label>
				<input type='email' class='form-control' name='contactEmail' ng-model='contact.email' placeholder="email@example.com" onclick="select()" required >
				</div>

				<div class='col-xs-12 formStyle'>
				<label>Message:</label>
				<textarea type='text' class='form-control' name='contactMessage' ng-model='contact.message' placeholder="Send me a message..." onclick="select()" required></textarea>
				</div>

				<input type='submit' class='btn btn-success btn-lg contactSubmitButton' ng-click='sendMessage(contact)' ng-disabled='contactForm.$invalid'>
		  	  </div>
		  	</ng-form>

	  	</div>
	  </div>
	</div>
  </div>

  <div class="row">
  	<div class="col-xs-12">
  		<div class="googleMap"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12095.293033772876!2d-74.04253002684597!3d40.72190712097657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1502051626603&ll=40.7219071, -74.04253" width="994" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></div>
  	</div>
  </div>
</div>

<!-- Trigger the modal with a button -->
<button ng-hide='true' type="button" id='contactStatusButton' data-toggle="modal" data-target="#contactModal"></button>

<!-- Modal -->
<div id="contactModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Status:</h4>
      </div>
      <div class="modal-body">
        <p>{{ contactModalStatus }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
