<nav class="navbar navbar-static-top cust-nav">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand"><img ng-src="/assets/T-logo2.png" class="img-responsive"></a>
          <span class="navbar-brand">Thomas Trasmontero</span>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navHead" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navHead" >
          <ul class="nav navbar-nav navbar-right">
          <!-- use ng-attr to check if the screen width is on small devices to activate auto collapse and prevent toggle on larger screen to stop flickering bu -->
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()" ng-class="{active: isActive(item)}" ><a ui-sref="{{ item.state }}" ng-attr-data-toggle="{{screenWidth > 769 ? '' : 'collapse'}}" ng-click="checkWidth() ; select(item)" data-target="#navHead">{{ item.label }}<span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
    </div>
</nav>

