section#home {
	background-color: #ffffff;
	padding: 2rem;
	
	div.cust-home {
	  margin-bottom: 0px;
	  padding-top: 0px;
	  padding-bottom: 0px;
	  background-color: #ffffff;

	  span {
	  	color: #d10c19;
	  }

	}

	 h1.homeText {
	  text-align: center;
	  background: none;
	}

	div p {
		text-align: center;
	}

	div img.img-responsive {
		margin-bottom: 50px;
	}


}

// seperator
hr.seperator {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;

    &:after {
    	content: "§";
	    display: inline-block;
	    position: relative;
	    top: -0.7em;
	    font-size: 1.5em;
	    padding: 0 0.25em;
	    background: white;
    }
}

//skill sections
section#homeSkillSection {

	min-height: 500px;
	background-color: #ffffff;
	margin-bottom: 5%;

	h1.homeText {
	    text-align: center;
	    background: none;
	}

	p.homeText {
		text-align: center;

		&.skillsText {
			color: #d10c19;
			text-decoration: underline;
		}

		span {
	  	color: #d10c19;
	  }

	}

	div.jumbotron {
		background-color: #ffffff;
		margin: auto;
	}

	img.skillImg {
		margin: auto;
		display: block;

	}

	.imgSkillContainer {

  		width: 100%;
  		margin: 5%;

  		&:hover {
  			img {
			    -webkit-transform: scale(0.8);
			    -moz-transform: scale(0.8);
			    -o-transform: scale(0.8);
  			}

  			div.overlay {
  				opacity: 0.7;
  			}
  		}

				
		img {
			height: auto;
			width: 100%;
			max-height: 240px;
			max-width: 185px;

		}


		div.overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: .5s ease;
			background-color: #ffffff;

		}

		h2.overlay-text {
			text-align: center;
			background-color: #ffffff;
			color: #000000;
			font-size: 3em;
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%, -50%);
  			-ms-transform: translate(-50%, -50%);
		}

	}


}


@media only screen and (max-device-width: 700px) {
    #homeSkillSection {
    	margin-bottom: 15%;

    }

    .imgSkillContainer {
    	
    	h2.overlay-text {
    		top: 20%;
    		font-size: 1em;
    	}
    }    
}
