section#home {
	background-color: #ffffff;
	padding: 2rem;
	
	div.cust-home {
	  margin-bottom: 0px;
	  padding-top: 0px;
	  padding-bottom: 0px;
	  background-color: #ffffff;

	  span {
	  	color: #d10c19;
	  }

	}

	 h1.homeText {
	  text-align: center;
	  background: none;
	}

	div p {
		text-align: center;
	}

	div img.img-responsive {
		margin-bottom: 50px;
	}


}

//setup for parallax css views
.parallax1 {
	background: url("/assets/geek-background.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
	height: 6rem;
}


section#homeSkillSection {
	min-height: 500px;
	background-color: #ffffff;
	margin-bottom: 5%;

	h1.homeText {
	    text-align: center;
	    background: none;
	}

	p.homeText {
		text-align: center;
	}

	div.jumbotron {
		background-color: #ffffff;
		margin: auto;
	}

	.imgSkillContainer {

  		width: 100%;

  		&:hover {
  			img {
  				opacity: 0.3;
  			}

  			div.overlay {
  				opacity: 0.8;
  			}
  		}

		img {
			height: 50%;
			width: 65%;

		}

		div.overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: .5s ease;
			background-color: #ffffff;

		}

		div.overlay-text {
			color: red;
			font-size: 20px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
  			-ms-transform: translate(-50%, -50%);
		}

	}

	.skillDescription {
		text-align: center;
	}
}




@media only screen and (max-device-width: 800px) {
    .parallax1 {
        height: 3rem;
	    }
}
