div.contactSummary {
	width: auto;
	height: 10rem;
	background-color: #3ab3c2;


	h2.contactHeader {
		text-align: center;
		color: #ffffff;
	}

}

div.contactDetails {
	min-height: 80vh;
	margin-top: 2%;

	div.contactInfo {
		padding-bottom: 2%;

		span {
      padding-left: 1rem;
			font-size: 2rem;
		}

		label {
			font-size: xx-large;
		}
	}

	div.contactForm {
		border-style: groove;
		margin:	1%;

		.ng-invalid.ng-not-empty {
			border-color: #d10c19;
		}

		div.formStyle {
			padding: 1%;
			padding-top: 4%;
		}

		textarea {
			height: 10rem;
		}

		label {
			font-size: large;
		}

		input.contactSubmitButton {
			display: block;
			margin: auto;
		}
	}

	div.googleMap {
		margin-top: 2rem;
		width: auto;
		height: 25rem;

		iframe {
			display: block;
			width: 100%;
		}
	}
}
