div.contactSummary {
	width: auto;
	height: 10rem;
	background-color: #3ab3c2;


	h2.contactHeader {
		text-align: center;
		color: #000000;
	}

}

div.contactDetails {
	min-height: 80vh;
	margin-top: 2%;

	div.contactInfo {
		padding-bottom: 2%;
		
		p {
			font-size: 2rem;
		}
	}
}

div.contactForm {
	border-style: groove;

	.ng-invalid.ng-not-empty {
		border-color: #d10c19;
	}

	div.formStyle {
		padding: 1%;
	}

	textarea {
		height: 10rem;
	}

	label {
		font-size: large;
	}

	input.contactSubmitButton {
		display: block;
		margin: auto;
	}
}