* {
  box-sizing: border-box;
}

html { 
  height: 100%;
}

body {
  font-family: 'Fjalla One', sans-serif;
  height: 100%;
  background: #fdfdfd;
  padding-bottom: 20px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 0px;
  margin: 0 auto;
}

footer.navbar {
  position: inherit;
  min-height: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: auto;
  background-color: #ffffff;
  text-align: center;
  opacity: 0.7;

  span {
  	display: inline-block;
  }

  a {
  	font-size: 4rem;
  }


//social button animation and f/x
 .social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
     opacity: 1;
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

 #git:hover {
 	 color: #000000;
 }

 #linkedin:hover {
	 color: #0077B5;
 }

 #google:hover {
	 color: #008744;
 } 

}


@media only screen and (min-device-width: 700px) {
  
  html {
  	  position: relative;
      max-width: 1024px;
      max-height: 768px;
      margin: auto;
	}
	
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'login/main';
